.root {
  padding: 24px;
  margin: 25px;
}

#usersRoot {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.user_data {
  background-color: brown;
  color: beige;
  padding: 5px;
  width: 100px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
}
